*,*::after,*::before{
    box-sizing: border-box;
}

:root{
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size)* .9);
}

body{
    margin: 0;
}

.home.hide,
.game-container.hide {
    display: none;
}

.home {
    position: relative;
    width: 100%;
    height: 100%;
}

.left-side {
    background-color: #fff1e1;
    width: 50%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}

.right-side {
    background-color: #1d3c45;
    width: 50%;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -1;
}

.homeBody {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.homeContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.xSymbol::before,
.xSymbol::after {
    content: '';
    position: absolute;
    width: calc(var(--mark-size)* .250);
    height:  150px;
    z-index: 1;
    background-color: #1d3c45;
    margin-left: 15%;
    margin-top: 16%;
}

.xSymbol::before {
    transform: rotate(45deg);
}

.xSymbol::after {
    transform: rotate(-45deg);
}

.oSymbol {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #fff1e1;
    border: 1px solid black;
    display: inline-block;
    margin-left: 150%;
    margin-top: -21%;
}

.oSymbol::after {
    content: '';
    position: absolute;
    top: 25px;
    left: 25px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #1d3c45;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fff1e1;
}

.current-player {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, var(--cell-size));
    grid-gap: 10px;
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border:1px solid black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    margin: 5px;
    border-radius: 10%;
}

.cell.x,
.cell.circle {
    cursor: not-allowed;
}

.cell.x::before,
.cell.x::after,
.cell.circle::before {
    background-color: black;
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before {
    background-color: lightgrey;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after{
    content: '';
    position: absolute;
    width: calc(var(--mark-size)* .15);
    height:  var(--mark-size);
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
    transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
    transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
    width: var(--mark-size);
    height:  var(--mark-size);
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
    width: calc(var(--mark-size)* .7);
    height:  calc(var(--mark-size)* .7);
    background-color: white;
}

.winning-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
    background-image: url('assets/party-poppers.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.winning-message button {
    font-size: 3rem;
    background-color: white;
    border: 1px solid black;
    padding: .25em .5em;
    cursor: pointer;
}

.winning-message button:hover {
    background-color: black;
    color: white;
    border-color: white;
}

.winning-message.show {
    display: flex;
}

.homeContent button {
    height: calc(var(--cell-size)*1.5);
    width:calc(var(--cell-size)*1.5);
    border-radius: 100%;
    border:none;
    background-color: #d2601a;
    color:white;
    font-size: 30px;

}

.homeContent{
    display:flex;
    flex-direction: row;
    align-items: center;
    
}